name: pr-edited

on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  pr-title-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
